@font-face {
  font-family: 'Century-Gothic';
  src: local('Century-Gothic'), url(./fonts/century_gothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Century-Gothic-Bold';
  src: local('Century-Gothic-Bold'), url(./fonts/century_gothic_bold.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(180deg, #d9f3f3 0%, #F9EEE4 100%);
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-weight: black;
  font-family: Century-Gothic-Bold;
}

a{
  color: #969696;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: black;
}

li{
  list-style-type: none;
  padding: 0 0 0 2vw;
}

h2 {
  font-size: 30px;
}