.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
  }
   
  .box {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    background: #b7ccc5;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(200px);
    padding: 1rem;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .popup-content {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: -100px;
  }

  .popup-content img {
    height: 50%;
  }
  
  .popup-toggle:hover {
    cursor: pointer;
  }

  .popup-content p{
    font-size: 15px;
  }