.shipments-main-container {
  padding: 5vw;
}

.shipments-title {
  width: 30vw;
  margin: 1rem 0;
}

.shipments-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shipments-table-names {
  margin: 5rem 0 1rem 0;
}

.shipment-header-container {
  display: flex;
  justify-content: space-around;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}
